

<div class="table-responsive" data-ng-init="initHome()">

      <!-- Info boxes -->
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="#/viewOrders" >
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-cart-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">定单</span>            
              	<table><tbody>
              		<tr ng-repeat="orderSummary in homeSummary.orderSummary">
						<td>{{orderSummary.label}}</td>
						<td>&nbsp:&nbsp</td>
						<td><span class="info-box-number">{{orderSummary.count}}</span></td>
					</tr>
				</tbody></table>
            </div>
            <!-- /.info-box-content -->
          </div>
          </a>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="#/viewWorks" >
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="ion ion-ios-gear-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">生产</span>            
              	<table><tbody>
              		<tr ng-repeat="workSummary in homeSummary.workSummary">
						<td>{{workSummary.label}}</td>
						<td>&nbsp:&nbsp</td>
						<td><span class="info-box-number">{{workSummary.count}}</span></td>
					</tr>
				</tbody></table>
            </div>
            <!-- /.info-box-content -->
          </div>
          </a>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="#/viewOrders" >
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-gear-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">机床</span>            
              	<table><tbody>
              		<tr ng-repeat="machineSummary in homeSummary.machineSummary">
						<td>{{machineSummary.label}}</td>
						<td>&nbsp:&nbsp</td>
						<td><span class="info-box-number">{{machineSummary.count}}</span></td>
					</tr>
				</tbody></table>
            </div>
            <!-- /.info-box-content -->
          </div>
          </a>
          <!-- /.info-box -->
       </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="#/viewOrders" >
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-cart-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">原料</span>
              	<table><tbody>
              		<tr ng-repeat="sourceSummary in homeSummary.sourceSummary">
						<td>{{sourceSummary.label}}</td>
						<td>&nbsp:&nbsp</td>
						<td><span class="info-box-number">{{sourceSummary.count}}</span></td>
					</tr>
				</tbody></table>
            </div>
            <!-- /.info-box-content -->
          </div>
          </a>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
          
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>定单</h3>
              	<table><tbody>
              		<tr ng-repeat="orderSummary in homeSummary.orderSummary">
						<td>{{orderSummary.label}}</td>
						<td>&nbsp->&nbsp</td>
						<td><h3>{{orderSummary.count}}</h3></td>
					</tr>
				</tbody></table>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#/viewOrders" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>生产</h3>
              	<table><tbody>
              		<tr ng-repeat="workSummary in homeSummary.workSummary">
						<td>{{workSummary.label}}</td>
						<td>&nbsp->&nbsp</td>
						<td><h3>{{workSummary.count}}</h3></td>
					</tr>
				</tbody></table>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#/viewWorks" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>机床</h3>
              	<table><tbody>
              		<tr ng-repeat="machineSummary in homeSummary.machineSummary">
						<td>{{machineSummary.label}}</td>
						<td>&nbsp->&nbsp</td>
						<td><h3>{{machineSummary.count}}</h3></td>
					</tr>
				</tbody></table>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#/viewOrders" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>原料</h3>
              	<table><tbody>
              		<tr ng-repeat="sourceSummary in homeSummary.sourceSummary">
						<td>{{sourceSummary.label}}</td>
						<td>&nbsp->&nbsp</td>
						<td><h3>{{sourceSummary.count}}</h3></td>
					</tr>
				</tbody></table>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#//viewWorks" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->

</div>
