<div class="page-header" data-ng-init="getProductList()"> <!--  -->
	<div class="container-fluid">
		<h2>Edit Order ( id: {{order.orderId}} | status: {{order.orderStatus}})</h2>
	</div>
	<div class="container-fluid">
		<form name="frmOrder" novalidate>
			<div class="form-group">
				<label for="ordername">Name:</label>
				<input id="ordername" class="span2" value={{order.orderName}} name="orderName" ng-model="order.orderName"/>
			
				<label for="orderstatus">Status:</label>
				<input id="orderstatus" class="span2" size="5" value={{order.orderStatus}} name="orderStatus" ng-model="order.orderStatus"/>
			
				<label for="expectdate">ExpectDeliverDate:</label>
				<input id="expectdate" type="date" class="span2" size="16" value={{order.expectDeliverDate}} name="expectDeliverDate" ng-model="order.expectDeliverDate"/>

				<label for="actualdate">  ActualDeliverDate:</label> 
				<input id="actualdate" type="date" class="span2" size="16" value={{order.actualDeliverDate}} name="actualDeliverDate" ng-model="order.actualDeliverDate"/>
			</div>
			<div class="form-group">
				<label for="remark">remark</label>
				<textarea id="remark" rows="3" class="form-control" name="remark" ng-model="order.remark"></textarea>
			</div>
		</form>
		

	<!-- <button class="btn  btn-primary" type="submit" ng-click="addRow(order)">add product</button> -->
	
	<table
		class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
		<thead>
 			<tr>
				<th width="1%"><button class="btn-xs" ng-click="addRow(order)"><i class="fa fa-plus-square-o" aria-hidden="true"></button></th>
				<th width="5%">select</th>
				<th width="80%">product name</th>
				<th width="5%">quantity</th>
<!-- 				<th width="5%">source</th>
				<th width="10%">source quantity</th>
				<th width="10%">source unit</th> -->
				<th width="10%">action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="work in order.orderWorks" ng-init="workIndex = $index">
				<td>NO.{{$index+1}}</td>
				<td><!-- <input id="workproductId" class="span2" value={{work.product.productId}} name="workproduct" ng-model="work.product.productId"/> -->
        			<select " ng-model="selectedProduct" ng-change="productSelected($index, selectedProduct)">
            			<option ng-repeat="selectedProduct in products" value="{{selectedProduct}}">
            				{{selectedProduct.productName}}
            			</option>
        			</select>
        			<button class="btn btn-primary btn-xs" ng-click="newProductClick($index)">new product</button>
        			<!-- <button class="btn btn-primary" data-toggle="modal" data-target="#productModal">new product</button>  -->
        		</td>
        		<td> <!-- Name: {{work.product.productName}} | unit: {{work.product.productUnit}}  -->
        		<p>name: <input type="text" value={{work.product.productName}} ng-model="work.product.productName" ng-disabled="disableProductInput[workIndex]"/></p>

	<table class="table  table-striped  table-bordered  table-hover">
		<thead>
 			<tr>
				<th width="1%"><button class="btn-xs" ng-click="addSourceRowForNewProduct($index, work.product)" ng-disabled="disableProductInput[workIndex]"><i class="fa fa-plus-square-o" aria-hidden="true"></button></th>
				<th width="1%">Color</th>
				<th width="1%">source name</th>
				<th width="1%">quantity</th>
				<th width="1%">unit</th>
				<th width="1%">price</th>
				<th width="1%">action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="productSource in work.product.productSource">
				<td>NO.{{$index+1}}</td>
				<td><input size="4" value={{productSource.sourceColor}} ng-model="productSource.sourceColor" ng-disabled="disableProductInput[workIndex]"/></td>
				<td><input size="10" value={{productSource.source.sourceName}} ng-model="productSource.source.sourceName" ng-disabled="disableProductInput[workIndex]"/></td>
				<td><input size="4" value={{productSource.quantity}} ng-model="productSource.quantity" ng-disabled="disableProductInput[workIndex]"/></td>
				<td><input size="3" value={{productSource.source.sourceUnit}} ng-model="productSource.source.sourceUnit" ng-disabled="disableProductInput[workIndex]"/></td>
				<td><input size="4" value={{productSource.source.price}} ng-model="productSource.source.price" ng-disabled="disableProductInput[workIndex]"/></td>
				<td>
				    <button ng-click="removeSourceRowForNewProduct($index, productSource)" ng-disabled="disableProductInput[workIndex]" class="btn btn-xs fa fa-minus-square-o" aria-hidden="true"></button>
					<!-- <div> <!--  style="text-align: center;" 
						<btn-remove action="removeSourceRowForNewProduct($index, productSource)" ng-disabled="disableProductInput[workIndex]"></btn-remove>
					</div>  -->
				</td>
			</tr>
		</tbody>
	</table>
        		</td>
				<td><input id="workquantity" class="span2" value={{work.quantity}} name="workquantity" ng-model="work.quantity"/></td>
				
				<td>
					<div> <!--  style="text-align: center;" -->
<!-- 						<a href="#/viewWork/{{work.workId}}" class="btn btn-default btn-xs"><i class="fa fa-search" aria-hidden="true"></i></a>
						<a href="#/editWork/{{work.workId}}" class="btn  btn-warning btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i></a> -->
						<btn-remove name="" action="removeRow(work)"></btn-remove>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
		<div class="form-group">
			<button class="btn  btn-primary" type="submit" ng-disabled="frmOrder.$invalid"
				ng-click="saveOrder(order)">Submit</button>
			<button class="btn  btn-default" type="submit" data-dismiss="modal"
				ng-click="cancel()">Cancel</button>
		</div>
		<p>order:{{order}}</p>
		<p>disableProductInput:{{disableProductInput}}</p>
	</div>
</div>

<!-- this is for popup to create new product. -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" 
   aria-labelledby="productModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">product editor</h4>
              </div>
              <div class="modal-body">

          <!-- general form elements -->
          <div class="box box-primary">

            <!-- form start -->
            <form role="form" name="frmProduct" novalidate>
              <div class="box-body">
                <div class="form-group">
					<label>Product Name:</label>
					<input class="span2" value={{product.productName}} ng-model="product.productName" ng-disabled="productMotalDisabled"/>
					<label>id:{{product.productId}}</label>
                </div>
                
	<table class="table  table-striped  table-bordered  table-hover">
		<thead>
 			<tr>
				<th width="1%"><button ng-click="addSourceRow(product)"><i class="fa fa-plus-square-o" aria-hidden="true"></button></th>
				<th width="1%">Color</th>
				<th width="1%">source name</th>
				<th width="1%">quantity</th>
				<th width="1%">unit</th>
				<th width="1%">price</th>
				<th width="1%">action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="productSource in product.productSource">
				<td>NO.{{$index+1}}</td>
				<td><input size="4" value={{productSource.sourceColor}} ng-model="productSource.sourceColor"/></td>
				<td><input size="10" value={{productSource.source.sourceName}} ng-model="productSource.source.sourceName"/></td>
				<td><input size="4" value={{productSource.source.quantity}} ng-model="productSource.source.quantity"/></td>
				<td><input size="3" value={{productSource.source.sourceUnit}} ng-model="productSource.source.sourceUnit"/></td>
				<td><input size="4" value={{productSource.source.price}} ng-model="productSource.source.price"/></td>
				<td>
					<div> <!--  style="text-align: center;" -->
						<btn-remove name="" action="removeSourceRow(productSource)"></btn-remove>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
              </div>
              <!-- /.box-body -->

            </form>
          </div>
        <p>product:{{product}}</p>
          <!-- /.box -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" type="submit" ng-click="editProduct()">edit</button>
                <button type="button" class="btn btn-primary" type="submit" ng-click="saveProduct(product)">Save changes</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
