<div class="page-header">
	<div class="container-fluid">

		<h2>Order management</h2>

	</div>
	<div class="container-fluid">
		<form name="frmOrder" novalidate>
			<div class="form-group">
				<label for="identificacao">expectDeliverDate</label> 
				<input id="identificacao" required type="date" size="10" class="form-control" name="expectDeliverDate" ng-model="order.order.expectDeliverDate"/>
				<span ng-show="frmOrder.nome.$dirty && frmOrder.nome.$error.required" class="form-control alert alert-danger">pls input expect date</span>
			</div>
			<div class="form-group">
				<label for="identificacao">actualDeliverDate</label> 
				<input id="identificacao" type="date" class="form-control" name="actualDeliverDate" ng-model="order.order.actualDeliverDate"/>
			</div>
			<div class="form-group">
				<label for="descricao">remark</label>
				<textarea id="descricao" name="descricao" rows="3" class="form-control" name="remark" ng-model="order.order.remark"></textarea>
			</div>
		</form>
		
		<div class="form-group">
			<button class="btn  btn-primary" type="submit" ng-disabled="frmOrder.$invalid"
				ng-click="salvarOrder(order)">Submit</button>
			<button class="btn  btn-default" type="submit" data-dismiss="modal"
				ng-click="cancelarAlteracao()">Cancelar</button>
		</div>
	</div>