<div class="table-responsive">

	<h2>Order Details</h2>
	
	<label>order id: </label> <label>{{order.orderId}}</label>
	<label>| remark: </label> <label>{{order.remark}}</label>
	<label>| status: </label> <label>{{order.orderStatus}}</label>

	<table
		class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
		<thead>
 			<tr>
				<th width="1%">#</th>
				<th width="5%">work id</th>
				<th width="40%">product</th>
				<th width="5%">quantity</th>
				<th width="5%">status</th>
				<th width="10%">expected date</th>
				<th width="10%">action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="work in order.orderWorks">
				<td class="aw-table-checkbox"><input type="checkbox" /></td>
				<td>{{work.workId}}</td>
				<td>{{work.product.productName}}</td>
				<td>{{work.quantity}}</td>
				<td>{{work.status}}</td>
				<td>{{work.expectDeliverDate}}</td>
				<td>
					<div> <!--  style="text-align: center;" -->
						<btn-remove name="" action="removerWork(work)"></btn-remove>
						<a href="#/editWork/{{work.workId}}" class="btn  btn-warning btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i></a>
						<a href="#/viewWork/{{work.workId}}" class="btn btn-default btn-xs"><i class="fa fa-search" aria-hidden="true"></i></a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	
	<p>
		<a class="btn btn-primary btn-lg" href="#/editOrder" role="button">new order</a>
	</p>
</div>