<!DOCTYPE html>
<html lang="en" ng-app="factoryManagementApp">
<head>
    <meta charset="UTF-8">
    <title>Factory Management app</title>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>

    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }

        form {
            padding: 20px 0;
        }

    </style>

</head>
<body>
<h1>Welcome to factory management app</h1>
<div ng-controller="OrderController" data-ng-init="init()">

    <form name="OrderFilterForm">
        <label for="OrderStatusSelect"> Select order status: </label>
		<input type="text" name="OrderStatusSelect" id="OrderStatusSelect" ng-model="selectedOrderStatus" ng-change="valueChanged()">
<!--        <select name="OrderStatusSelect" id="OrderStatusSelect" ng-model="selectedOrderStatus" ng-change="valueChanged()">
            <option ng-repeat="Order status" value="{{option}}">{{option}}</option>
        </select>
-->
    </form>

    <table border="1">
		<tr>
			<td> order id </td>
			<td> staus </td>
			<td> expectDeliverDate </td>
			<td> actualDeliverDate </td>
		</tr>
        <tr ng-repeat="record in orderList">
		    <td ng-if="$odd" style="background-color:#f1f1f1"> {{record.orderId}}</td>
            <td ng-if="$even"> {{record.orderId}}</td>
			<td ng-if="$odd" style="background-color:#f1f1f1"> {{record.orderStatus}}</td>
            <td ng-if="$even"> {{record.orderStatus}}</td>
			<td ng-if="$odd" style="background-color:#f1f1f1"> {{record.expectDeliverDate}}</td>
            <td ng-if="$even"> {{record.expectDeliverDate}}</td>
			<td ng-if="$odd" style="background-color:#f1f1f1"> {{record.actualDeliverDate}}</td>
            <td ng-if="$even"> {{record.actualDeliverDate}}</td>
        </tr>
    </table>
</div>

</body>
</html>